@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'OpenSans Regular'
}

@font-face {
    src: url('../fonts/OpenSans-Italic.ttf');
    font-family: 'OpenSans Italic';
}

@font-face {
    src: url('../fonts/OpenSans-Bold.ttf');
    font-family: 'OpenSans Bold';
}

@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-family: 'OpenSans SemiBold';
}

@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-family: 'OpenSans ExtraBold';
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans Regular", Helvetica, Arial, sans-serif;
}

p {
    margin: 0;
    font-family: 'OpenSans Regular';
    font-size: 16px;
    line-height: 28px; 
}

h3 {
    margin: 0;
}

h2 {
    margin: 0;
    font-family: 'OpenSans Bold';
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}

/*BLOCKS*/
.intro,
.amenities,
.feature-products,
.group,
.subscribe,
.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*first list*/
.menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1249px;
    margin: 0 auto;
    min-height: 89px;
    background-color: #000000;
}

.site-menu {
    display: flex;
    justify-content: center; 
    margin-left: -4%;
    align-items: center;
}

.site-menu > a {
    padding: 41px 29px 32px;
    color: #F6F2F2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.49px;
}

.site-menu > a:hover {
    background-color: #ff3f40;
}

.intro-wrapper {
    background-color: #F6F2F2;
}
.intro {
    background-color: #F6F2F2;
    /*width: 50%;*/
    padding-top: 103px;
    padding-bottom: 94px;
    flex: 1 0 auto;
}

.intro-wrapper {
    position: relative;
    bottom: 11px;
    width: 617px;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 75px;
}

.intro-heading {
    margin: 0;
    font-size: 60px;
    font-family: 'OpenSans ExtraBold';
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1.5px;
}

.intro-heading .org {
    letter-spacing: 6px;
    word-break: break-word;
    hyphens: auto;
}

.intro-text {
    font-size: 16px;
    opacity: 0.7;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 27px;
    letter-spacing: 0.1px;
}

.intro-text p {
    margin: 0px;
}
.contact-link {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #FF2D2D;
    width: 36%;
    padding: 2% 0;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
    letter-spacing: 1.3px;
    align-items: center;
}

.intro-image {
    width: 554px;
    height: 359px;
    box-shadow: -6px -5px 18px 2px #b9afaf;
}

/*Amenities*/
.amenities {
    padding-top: 106px;
    padding-bottom: 53px;
    border-bottom: 2px solid #ececec;
}

.amenities-wrapper {
    flex: 1 1 539px;
    max-width: 539px;
    margin-bottom: 50px;
}

.amenities-heading {
    margin-bottom: 50px;
}

.amenities-text {
    margin-bottom: 63px;
}

.amenities-link {
    padding: 16px 44px 16px 44px;
    border: 2px solid #ff0000;
    text-decoration: none;
    box-sizing: border-box;
    color: #ff2d2d;
    font-family: 'OpenSans Bold';
    border-radius: 4px;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 640px;
    max-width: 640px;
}

.service {
    flex: 1 1 301px;
    width: 301px;
    margin-bottom: 50px;
}

.service:nth-child(odd) {
    margin-right: 20px;
}

.service h3 {
    font-family: 'OpenSans SemiBold';
    letter-spacing: 0.3px;
    font-size: 24px;
    margin-bottom: 13px;
}

.service h3::before {
    display: block;
    width: 43px;
    height: 43px;
    margin-bottom: 23px;
}

.service .management::before {
    content: url('../images/service-1.png');
}

.service > .ui::before {
    content: url('../images/service-2.png');
}

.service > .log-branding::before {
    content: url('../images/service-3.png');
}

.service > .anime::before {
    content: url('../images/service-4.png');
}

/*Feature product*/

.feature-products {
    padding-top: 104px;
    padding-bottom: 50px;
}

.feature-header {
    text-align: center;
    width: 100%;
    margin-bottom: 86px;
}

.feature-heading {
margin-bottom: 29px;
}

.feature-text {
    margin-bottom: 33px;
}

.header-line {
    width: 134px;
    background-color: #ff2d2d;
    height: 3px;
    border: 0;
    margin-bottom: 86px;
}

.products-filter {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.products-filter a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'OpenSans SemiBold';
    line-height: 24px;
    margin-right: 50px;
    color: #000; 
}

.products-filter a.active {
    color: #ff2d2d;
}

.products-filter a:hover {
    color: #ff2d2d;
}

.picture-colage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.picture {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 200px;
    margin-bottom: 16px;
    object-fit: cover;
}

/*Group*/
.group {
    padding: 50px 0 100px 0;
}

.group-header {
    width: 100%;
    text-align: left;
    margin-bottom: 70px;
}

.group-heading {
    margin-bottom: 34px;
}

.group-text {
    max-width: 479px;
    margin-bottom: 37px;
}

.group-line {
    width: 134px;
    background-color: #ff2d2d;
    height: 3px;
    border: 0;
    margin: 0; 
}

.group-members-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.leader-foto {
    width: 321px;
    height: 458px;
    background-color: #e2a45a;
    margin-right: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-members-info {
    max-width: 642px;
    position: absolute;
    left: 417px;
}

.group-members-info h3 {
    text-transform: uppercase;
    font-family: 'OpenSans Bold';
    font-size: 30px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
 }  

 .group-members-info p {
    margin-bottom: 46px;
 } 

.member-links a {
    color: #000;
    font-family: 'OpenSans Italic';
    text-decoration: none;
    margin-right: 65px;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 24px;
}

.member-links a:hover {
    text-decoration: underline;
}

.members-foto {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.member {
    position: relative;
    margin-top: 18px;
    margin-right: 18px;
}

.member > h3 {
    visibility: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
    }

.member:hover > h3 {
    visibility: visible;
}

.member-picture {
    width: 197px;
    height: 214px;
    display: block;
    background-color: #6EF4CD;
}

/*Subscribe*/
.subscribe {
    box-sizing: border-box;
    display: block;
    width: 1529px;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-top: 124px;
    padding-bottom: 140px; 
}

.subscribe-wrapper {
    max-width: 1249px;
    margin: 0 auto;
    text-align: center;
}

.subscribe-heding {
    color: #fff;
    text-transform: none;
    margin-bottom: 30px;
}

.subscribe-wrapper > p {
    color: #fff;
    margin-bottom: 50px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form .mail-input {
    color: grey;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    flex: 0 1 521px;
    max-width: 521px;
    min-height: 79px;
    padding: 0;
    padding-left: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 22px;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 217px;
    min-height:82px;
    background-color: #ff2d2d;
    text-transform: uppercase;
    font-family: 'OpenSans Bold';
    border-radius: 5px;
}

/*Contact*/

.contact-form {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-top: 92px;
    padding-bottom: 110px;
}

.contact-wrapper {
    max-width: 731px;
    margin-right: 107px;
}

.contact-header {
    margin-bottom: 34px;
}

.contact-wrapper p {
    max-width: 720px;
    margin-bottom: 50px;
}

.contact-line {
    width: 134px;
    background-color: #ff2d2d;
    height: 3px;
    border: none;
    margin: 0;
    margin-bottom: 73px;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
}

.feedback div {
    color: grey;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 54px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;  
    margin-bottom: 45px;
}

.feedback .name,
.feedback .your-mail {
    width: 339px;
    max-width: 339px;
    height: 69px;
}

.feedback .name {
    margin-right: 53px;
}

.feedback .type-message {
    resize: none;
    font-size: 16px;
    font-family: 'OpenSans Regular';
    width: 731px;
    max-width: 731px;
    height: 249px;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 54px;
    padding-bottom: 150px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.feedback .send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 731px;
    max-width: 731px;
    height: 72px;
    color: #fff;
    font-size: 18px;
    font-family: 'OpenSans Bold';
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

/*Adress*/
.adress {
    position: relative;
    color: #e0e0e0;
    background-color: #2c2c2c;
    padding: 125px 78px;
}

.adress h2 {
    color: #e0e0e0;
    font-size: 18px;
    margin-bottom: 13px;
}

.contact-adress {
    line-height: 28px;
}

.contact-adress p {
    margin-bottom: 17px;
}

.adress::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 453px;
    background-color: #2c2c2c;
}

/*Footer*/

.down-menu {
    display: flex;
    width: 100%;
   /* width: 1586px;
    height: 113px;*/
    background-color: #313030;
    flex: 0 0 auto;
}

.down-text {
    width: 60%;
    align-items: center;
    color: #B8B8B8;
    font-size: 16px;
    line-height: 26px;
    margin-left: 164px;
    margin-top: 55px;
}

.down-icons {
    width: 40%;
    /*margin-right: 164px;*/
    margin-top: 51px;
    display: flex;
    justify-content:flex-end;
}

.down-icons a {
    padding: 0 9px;

}

/*Variability*/
@media  screen and (max-width: 1286px) {
    .intro {
        flex-wrap: nowrap;
    }
    .intro-wrapper {
        width: 50%;
        height: auto;
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 15px;
    }
    .intro-heading {
        font-size: 5vw;
    }
    .intro-image-link {
        width: 50%;
        height: auto;
    }
    
    .intro-image {
        width: 100%;
        height: auto;
    }

    .picture-collage {
        justify-content: flex-start;
    }

    .picture {
        width: 299px;
        max-width: 100%;
        margin-right: 1vw;
    }

    .contact-form {
        flex-wrap: wrap;
        padding-left: initial;
        padding-right: initial;
    }

    .contact-wrapper {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0 1vw;
    }

    .adress {
        width: 100%;
        max-width: 100%;
    }  
}

@media screen and (max-width: 990px) {
    .group-memders-info {
        position: initial;
    }

    .products-filter > li {
        width: 100%;
        text-align: center;
    }

    .amenities {
        justify-content: center;
    }

    .amenities-wrapper,
    .services-wrapper {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .amenities-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .services-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .adress {
        padding: 1vw;
    }
}

@media screen and (max-width: 760px) {
    .feedback .name,
    .feedback .your-mail,
    .feedback .type-message,
    .feedback .send-button {
        width: 100%;
        max-width: 100%;
    }

    .feedback .name {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .menu {
        position: relative;
    }
    .site-menu {
        flex-wrap: wrap;
    }
    .site-menu a {
        padding: 10px 10px;
    }
    .intro {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .intro-wrapper {
        width: 100%;
    }
    .intro-heding  {
        font-size: 40px;
    }
    .intro-image-link {
        margin-top: 1vh;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .group-members-info {
        flex-wrap: wrap;
        position: initial;
    }
    .down-menu {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .down-text {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
   .subscribe-form {
        flex-wrap: wrap;
   } 
}